<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Contador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contador</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <h1 class="numero">{{ contador }}</h1>
      <ion-button color="success" (click)="increase()">Sumar</ion-button>
      <ion-button color="danger" (click)="decrease()">Restar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>