<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ nombre }}</ion-card-title>
      <ion-card-subtitle>{{ carrera }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Esta es mi primera aplicación con pestañas hecha en Ionic y Angular.
    </ion-card-content>
  </ion-card>
</ion-content>