<ion-header>
  <ion-toolbar class="degradado">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div class="avatar-box" [class.ocupado]="!disponible">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="avatar" />
        </ion-avatar>
        <span class="punto"></span>
      </div>

      <h2 class="nombre">{{ nombre }}</h2>
      <p class="carrera">{{ carrera }}</p>

      <div class="ion-text-center">
        <ion-chip [color]="disponible ? 'success' : 'danger'">
          <ion-label>{{ disponible ? 'Disponible' : 'Ocupado' }}</ion-label>
        </ion-chip>
      </div>

      <ion-item lines="none" class="item-toggle">
        <ion-toggle [checked]="disponible" (ionChange)="cambiarEstado()" justify="space-between">
          Estoy disponible
        </ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
          <ion-label>{{ correo }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
          <ion-label>{{ telefono }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
          <ion-label>{{ ciudad }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>