<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-avatar class="avatar">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="avatar" />
      </ion-avatar>
      <ion-card-title>{{ nombre }}</ion-card-title>
      <ion-card-subtitle>{{ carrera }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item><ion-label>Correo: {{ correo }}</ion-label></ion-item>
        <ion-item><ion-label>Teléfono: {{ telefono }}</ion-label></ion-item>
        <ion-item><ion-label>Ciudad: {{ ciudad }}</ion-label></ion-item>
      </ion-list>
      <div class="ion-text-center ion-margin-top">
  <ion-chip [color]="disponible ? 'success' : 'danger'">
    <ion-label>{{ disponible ? 'Disponible' : 'Ocupado' }}</ion-label>
  </ion-chip>
</div>
<ion-button expand="block" (click)="cambiarEstado()">Cambiar estado</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>